<!DOCTYPE html>
<html>
<head>
  <title>Тестирование</title>
  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1>Тестирование файлов</h1>

<button id="start-test">Начать тест</button>

<div id="result"></div>

<script>
  $(document).ready(function() {
    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });
    $('#start-test').click(function() {
      $.ajax({
        url: '<%= start_tests_path %>',
        type: 'POST',
        dataType: 'json',
        success: function(data) {
          document.getElementById('result').innerHTML = `
            <h2>${data.message}</h2>
            <p>Время загрузки: ${data.result.upload_time} секунд</p>
            <p>Время выгрузки: ${data.result.download_time} секунд</p>
            <p>User-Agent: ${data.result.user_agent}</p>
          `;
        },
        error: function(xhr) {
          $('#result').html('Ошибка: ' + xhr.responseJSON.error);
        }
      });
    });
  });
</script>

</body>
</html>
